#body-content {
    position: relative;
}

#body-content h2 {
    font-size: 24px;
    font-weight: 400;
    color: #57A0D2;
}

td.top-level {
    background-color: #ffeded;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffeded), to(#eecdcd));
    border: 2px solid #eab5b5;
    color: #555;
}
td.top-level strong {
    color: #000;
}

.form-right-control {
    float: right;
}

.form-container {
    position: absolute;
    width: 100%;
    display: none;
}
 
.form-container.current-form-container {
    display: block;
}

#forms-container {
    height: 300px;
}

#json-output {
    background: #efefef;
    border-radius: 4px;
    padding: 20px;
    height: 300px;
}

#form-result-link {
    display: none;
}

.scripts-script-bar {
    background: #57A0D2;
    padding: 7px 12px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}
#values_div ul {
    display: none;
    list-style: none;
    margin: 0px 0px 0px 20px;
    padding: 10px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#values_div ul li.scripts-value-title-bar {
    background: #57A0D2;
    padding: 7px 12px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;    
}
#values_div ul li.scripts-value-description-bar {
    padding: 7px 12px;
    display: none;
}

#chart_div pre, #values_div pre {
    background: none;
    border: 0px;
}

#chart_div .google-visualization-orgchart-node {
    background: none;
    border: 0px;
    box-shadow: none;
    padding: 0px;
}
#chart_div .google-visualization-orgchart-node div {
    border-radius: 6px;
    padding: 5px 10px;
}
#chart_div .google-visualization-orgchart-node div.chart-block-disease {
    background: #e4b7a1;
}
#chart_div .google-visualization-orgchart-node div.chart-block-question {
    background: #e4a1a1;
}
#chart_div .google-visualization-orgchart-node div.chart-block-answer {
    background: #a7e4a1;
}
#chart_div .google-visualization-orgchart-node div.chart-block-result {
    background: #a1b1e4;
}
#chart_div .google-visualization-orgchart-node.chart-block-selected {
    border: 4px solid #aaa;
    padding: 4px;
}

.sidemenu-container {
    overflow: auto;
}